@page
@model ideaMarket.Pages.Platform.myInvestmentsModel
@{
    ViewData["Title"] = "myInvestments";
}

<div class="page-area-myInvestments">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline">
                        <h3>MY Investments</h3>
                    </div>
                    <ul class="breadcrumb-bg">
                        <li class="home-bread">Home</li>
                        <li>My Investments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="blog-area fix page-padding">
    <div class="container">
        <div class="row">
            <div class="blog-sidebar-right">

                <!-- Start Right Sidebar blog -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="left-head-blog right-side">
                        <div class="left-blog-page">
                            <div class="left-tags blog-tags">
                                <div class="popular-tag left-side-tags left-blog">
                                    <h4>
                                        Post New Idea
                                    </h4><br />
                                    <form action="#">
                                        <div class="">
                                            <a asp-page="/UserPortfolio/portfolioNewIdea" class="newIdea-btn"><i class="ti-light-bulb"></i> Launch idea</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="left-blog-page">
                            <div class="left-blog blog-category">
                                <h4>Portfolio Menu</h4>
                                <ul>
                                    <li><span><i class="fa fa-user"></i></span><a asp-page="/UserPortfolio/PortfolioProfile">Profile</a></li>
                                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Idea-Owner"))
                                    {
                                        <li><span><i class="fa fa-lightbulb-o"></i></span><a asp-page="/UserPortfolio/myIdeas">My Ideas</a></li>
                                    }

                                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Investor"))
                                    {
                                        <li><span><i class="fa fa-briefcase"></i></span><a asp-page="/UserPortfolio/myInvestments">My Investments</a></li>
                                    }

                                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                                    {
                                        <li><span><i class="fa fa-user"></i></span><a asp-page="/UserPortfolio/Administration">Admin HuB</a></li>
                                    }

                                </ul>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                     
                        <h3 class="text-center">MY INVESTMENTS</h3>
                            <div class="deposite-content">
                                <div class="diposite-box">
                                    <h4>My Investments</h4>
                                    <span><i class="flaticon-027-money-bag"></i></span>
                                    <div class="deposite-table">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>Idea ID</th>
                                                    <th>Date Due</th>
                                                    <th>Amount</th>
                                                    <th>Commited</th>
                                                </tr>
                                                @foreach (var item in Model.Investments)
                                                {
                                                    <tr>

                                                        <td>
                                                            <a asp-route-IdeaId="@item.IdeaID" asp-page="/Platform/IdeaProfile">@item.IdeaID</a>
                                                        
                                                        </td>
                                                        <td>@item.DateDue</td>
                                                        <td>@item.InvestmentAmount</td>
                                                        <td>@item.CommitedToInvestment</td>
                                                    </tr>
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                             
                            </div>
                                                                        
                    </div>
                </div>
            </div>
            <!-- End Right Sidebar -->
        </div>
        <!-- End row -->
    </div>
</div>


